body,a{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.container{
    width: 1130px;
    margin: 0 auto;
}
.container::before , .container::after, .clearfix::before, .clearfix::after {
    content: "";
    display: table;
}
.container::after, .clearfix::after {
    clear: both;
}
.logo a {
    display: block;
    background: url('../img/mistore_logo.png') no-repeat;
    width: 200px;
    height: 98px;
}
.panel {
    background: url('../img/loginbg.jpg') no-repeat top center;
    height: 588px;
}
.panel-layout{
    width: 410px;
    min-height: 524px;
    background: white;
    margin-top: 32px;
    float: right;
}
.register{
    display: none;
}

.panel-tabs {
    padding: 27px 0 24px;
    text-align: center;
    font-size: 24px;
    color: #e0e0e0;
}
.panel-tabs .select{
    color: #f56600;
}
.panel-tabs .line{
    width: 1px;
    height: 24px;
    margin: 0 35px 0 42px;
    border: 1px solid #e0e0e0;
}
.tabs-link {
    padding: 27px 0 24px;
    text-align: center;
    font-size: 24px;
    color: #666;
}

.panel-account {
    width: 348px;
    margin: 0 auto;
    margin-top: 10px;
}
.account-item {
    width: 306px;
    height: 22px;
    line-height: 22px;
    padding: 13px 16px 13px 14px;
    display: block;
    outline: 0;
    border: 0 none;
    color: #333;
}
.account-label{
    margin-bottom: 14px;
    border: 1px solid #e0e0e0;
    outline: 0 none;
    display: -webkit-box;
}
.panel-account .btn {
    background-color: #ef5b00;
    width: 100%;
    height: 50px;
    line-height: 50px;
    display: block;
    margin-bottom: 14px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
    border: 0;
    outline: 0;
}