li {
    list-style: none;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    margin-bottom: 0;
    border: none;
}

@media (min-width: 768px) {
    .navbar {
        border-radius: 0;
    }
}

.container-fluid {
    max-width: 1200px;
}

.jumbotron {
    margin-top: 50px;
    margin-bottom: 0;
    text-align: center;
    background: rgb(46, 145, 170);
}

.page-header {
    text-align: center;
    color: rgb(81, 153, 52);
}

.thumbnail {
    min-height: 240px;
    text-align: center;
}

.thumbnail img {
    height: 120px;
}

.footer {
    color: #777;
    padding: 30px;
    border-top: 1px solid #e5e5e5;
    background-color: #ccc;
}