td{
	width: 120px;
	height: 120px;
	background-color: #666;
	font-size: 20px;
	text-align: center;
	padding: 0;
}

td img{
	width: 100px;
	margin: 0 auto;
	vertical-align: middle;
}

.select{
	background-color: #F60;
}

.start{
	background-color: #F60;
	cursor: pointer;
}
