body,
ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.wrapper {
    text-align: center;
}

.list {
    display: inline-block;
}

.list li {
    float: left;
}

.item {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    margin: 5px;
}

.item img {
    display: block;
    width: 230px;
}