@import '_var';
@import '_body';



.btn {
    padding: 2px 10px;
    color: white;
    border: 1px solid $primary;
    border-radius: 2px;

    &.btn-primary {
        background-color: $primary;
    }

    &.btn-secondary {
        background-color: $secondary;
        color: black;
    }

    &[disabled] {
        opacity: $disabled;
    }
}