body , ul ,li{
    margin: 0;
    padding: 0;
}
body {
    /* height: 2500px; */
    font: 14px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
.topbar {
    /* border: 1px solid black; */
    background-color: #333;
    height: 40px;
}
.container {
    /* border: 1px solid black; */
    margin: 0 auto;
    width: 1226px;
}
.container::before , .container::after,
.clearfix::before, .clearfix::after {
    content: "";
    display: table;
}
.container::after, .clearfix::after {
    clear: both;
}

.topbar a {
    color: #b0b0b0;
    font-size: 12px;
}
.topbar a:hover {
    color: #fff;
}
.topbar-nav {
    float: left;
    height: 40px;
    line-height: 40px;
    font-size: 0;
}
.topbar-nav span{
    font-size: 12px;
    color: #424242;
    font-family: sans-serif;
    margin: 0.5em;
}
.topbar-info ,.topbar-cart{
    float:right;
}
.topbar-cart a {
    display: block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 120px;
    background-color: #424242;
}
.topbar-cart a:hover{
    background-color: #fff;
    color: #ff6700;

}
.topbar-cart span {
    margin-left: -4px;
    font-size: 12px;
}
.topbar-cart i {
    font-size: 20px;
    line-height: 20px;
    margin-right: 4px;
    vertical-align: -4px;
}
.topbar-info {
    margin-right: 15px;
}
.topbar-info a {
    float: left;
    padding: 0 5px;
    line-height: 40px;
    height: 40px;
}
.topbar-info span {
    float: left;
    font-family: sans-serif;
    font-size: 12px;
    color: #424242;
    line-height: 40px;
    height: 40px;
}
.topbar-info .sep {
    padding: 0 10px;
}

/* header */
.header {
    height: 100px;
}
.header-logo {
    float: left;
    width: 62px;
    /* height: 55px; */
    margin-top: 22px;
    /* border: 1px solid black; */
}
.header-logo a {
    display: block;
    width: 55px;
    height: 55px;
    background: #ff6700 url(../img/mi-logo.png) no-repeat 50% 50%;
}
.header-logo .lr {
    text-align: left;
    text-indent: -9992em;
}

/* header nav */
.header-nav {
    float: left;
    width: 820px;
    height: 100px;
    /* border: 1px solid black; */
}
.header-nav .nav-list{
    width: 820px;
    height: 88px;
    font-size: 16px;
    padding: 12px 0 0 30px;
}
.header-nav .nav-list .nav-category {
    float: left;
    width: 127px;
    padding: 0 15px 0 0;
    position: relative;
}
.header-nav .nav-list .nav-category > a{
    display: block;
    padding: 26px 0 38px;
    text-align: right;
    color: #333;
}
.header-nav .nav-list .nav-item {
    float: left;
}
.header-nav .nav-list .nav-item a {
    display: block;
    padding: 26px 10px 38px;
    color:#333;
}
.header-nav .nav-list .nav-item a:hover{
    color: #ff6700;
}
.header-nav .category-list{
    position: absolute;
    top: 88px;
    left: -92px;
    z-index: 999;
    width: 234px;
    height: 460px;
    font-size: 14px;
    /* border: 1px solid black; */
    
}


.header-search {
    float: right;
    width: 296px;
    height: 50px;
    margin-top: 25px;
    /* border: 1px solid black; */
}

.header-search .search-form {
    position: relative;
    display: block;
    width: 296px;
    height: 50px;
}
.header-search .search-form .search-text {
    position: absolute;
    top: 0;
    right: 51px;
    display: block;
    width: 245px;
    height: 50px;
    line-height: 50px;
    border: 1px solid #e0e0e0;
    outline: 0;
}
.header-search .search-form .search-btn {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 52px;
    height: 50px;
    border: 1px solid #e0e0e0;
    font-size: 24px;
    line-height: 24px;
    background: #fff;
    color: #616161;
    outline: 0;
}
.header-search .search-form .search-btn:hover {
    background-color: #ff6700;
    color: #fff;
}



.nav-category .category-list > ul{
    height: 420px;
    padding: 20px 0;
    background: rgba(0,0,0,0.6);
}
.category-list .title{
    color: #fff;
    position: relative;
    display: block;
    padding-left: 30px;
    height: 42px;
    line-height: 42px;
}
.category-list .title i{
    color: rgba(255,255,255,0.5);
    position: absolute;
    top: 12px;
    right: 20px;
    font-size: 16px;
    line-height: 16px;
}
.category-list .active{
    background: #ff6700;
}
.category-list > ul > li:hover{
    background: #ff6700;
}
.category-list >ul > li:hover .children{
    display: block;
}


.miniheader{
    font-size: 12px;
    border-bottom: 2px solid #ff6700;
    background: #fff;
    color: #b0b0b0;
    position: relative;
    z-index: 20;
    height: 100px;

}
.miniheader-logo{
    float: left;
    width: 93px;
    margin-top: 26px;
}

.miniheader-logo > a{
    display: inline-block;
    width: 48px;
    height: 48px;
    text-indent: -999em;
    background: #ff6700 url(../img/mi-logo.png) no-repeat 50% 50%;
}
.miniheader-title > h2{
    float: left;
    line-height: 48px;
    margin-bottom: 0;
    font-size: 28px;
    color: #424242;
    font-weight: normal;
}
.miniheader-title > p{
    float: left;
    height: 20px;
    line-height: 20px;
    margin-top: 46px;
    margin-left: 15px;
    color: #757575;
}
.miniheader-info {
    /* border: 1px solid black; */
    float: right;
    margin-top: 30px;
    line-height: 40px;
    height: 40px;
}
.miniheader-info .info-order{
    padding: 0 5px;
    /* float: left; */
    color: #757575;
}
.miniheader-info .user-name > span{
    padding: 0 5px;
    color: #757575;
}
.children{
    display: none;
    position: absolute;
    z-index: 99;
    border: 1px solid #e0e0e0;
    height: 458px;
    /* 宽度好像要自己设置 */
    width: 992px;
    top: 0;
    left: 234px;
    background: #fff;
    box-shadow: 0 8px 16px rgba(0,0,0,0.18);
}
.children-list {
    float: left;
    width: 265px;
    height: 458px;
    /* border: 1px solid black; */
}
.children-list > li{
    width: 265px;
    height: 76px;
}
.children-list > li > a{
    display: block;
    padding: 18px 20px;
    line-height: 40px;
    color: #333;
    transition: color .2s;
}
.children-list > li > a:hover{
    color: #ff6700;
}

.children-list > li > a > img{
    margin-right: 12px;
    vertical-align: middle;
    width: 40px;
    height: 40px;
}
.children-list > li > a > span{
    line-height: 40px;
}